<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav>
    <mat-nav-list (click)="sidenav.close()">
      <button mat-icon-button (click)="sidenav.close()">
        <mat-icon >keyboard_backspace</mat-icon>
      </button>

      <a mat-list-item routerLink="/">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </a>
      <a mat-list-item routerLink="/suggest-recipe">
        <mat-icon>mood</mat-icon>
        <span>Suggest recipe</span>
      </a>
      
    </mat-nav-list>
  </mat-sidenav>

  <mat-toolbar color="primary">

    <button mat-icon-button (click)="sidenav.open()">
      <mat-icon>menu</mat-icon>
    </button>

  </mat-toolbar>

  <div class="container">
    <router-outlet></router-outlet>
  </div>

</mat-sidenav-container>


